@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('./images/bg-intro-mobile.png');
    background-color: hsl(0, 100%, 74%);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 85%;
    min-width: 300px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 25px;
}

.intro p {
    color: hsl(0, 0%, 90%);
    font-weight: 500;
    margin-bottom: 65px;
}

.free-trial {
    color: hsl(0, 0%, 90%);
    background-color: hsl(248, 32%, 49%);
    border-radius: 8px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px 50px;
    margin-bottom: 25px;
}

.free-trial p strong {
    color: hsl(0, 0%, 100%);
}

form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}

input {
    color: hsl(249, 10%, 26%);
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 5px;
    padding: 16px 18px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.error {
    border: 2px solid hsl(0, 100%, 74%);
    background: url('./images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.error-text {
    color:hsl(0, 100%, 74%);
    font-size: 0.75rem;
    font-style: italic;
    margin-left: auto;
    margin-top: -10px;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
    border: 1px solid hsl(248, 32%, 49%);
    caret-color:hsl(248, 32%, 49%);
}

button {
    border: none;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0 3px hsl(154, 59%, 41%);
    padding: 14px;
    color:hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

button:hover {
    background-color: hsl(154, 59%, 61%);
    cursor: pointer;
}

form p {
    width: 85%;
    font-size: 0.7rem;
    color: hsl(246, 25%, 77%);
    margin: auto;
}

form p strong {
    color:hsl(0, 100%, 74%);
}

@media only screen and (min-width: 900px) {
    body {
        background-image: url('./images/bg-intro-desktop.png');
    }
    
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        width: 80%;
        min-width: 900px;
    }

    .intro {
        width: 49%;
    }

    h1 {
        font-size: 3rem;
    }

    .intro p {
        margin-bottom: 0;
    }

    .signup {
        width: 47%;
    }

    .free-trial {
        text-align: center;
        padding: 17px 50px;
    }

    form {
        padding: 40px;
        text-align: center;
    }

    input {
        padding: 16px 30px;
        margin-bottom: 18px;
    }
}